body {
  background-image: linear-gradient(to bottom right, #2e5734, #2d5734);
}

.boxes1 {
  background-color: #0d1c0f;
  border-radius: 2%;
  color: whitesmoke;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 7%;
}
