{% url 'user:user_register' as register %}
<!--  -->
{% url 'product:productview' as productview %}
<!--  -->
{% url 'user:login_url' as login_url %}
{% url 'user:logout' as logout_url %}
{% url 'contact_us:contact_us' as contact_us_url %}

{% url 'user:display_profile' as display_profile_url %}
<!--  -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand mb-0 h1"" href="#">Ecommerce</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ productview }}"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == contact_us_url %}active {% endif %}" 
          href='{{ contact_us_url }}'>Contact</a>
        </li>
        
        <li
          class="nav-item {% if request.path == productview %}active{% endif %}"
        >
          <a class="nav-link" href="{{ productview }}">Product</a>
        </li>
        {% if not request.user.is_authenticated %}
        <li
          class="nav-item {% if request.path == login_url %}active{% endif %}"
        >
          <a class="nav-link" href="{{ login_url }}">Login</a>
        </li>
        <li class="nav-item {% if request.path == register %}active{% endif %}">
          <a class="nav-link" href="{{ register }}">Register</a>
        </li>
        {% else %}

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href=""
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true"
          >
          Option
        </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ logout_url }}">Logout</a>
            <a class="dropdown-item" href="{{display_profile_url}}">Profile</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="{{ logout_url }}">Logout</a>
        </li> -->
        {% endif %}
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'cart:cartitem' %}"><i class="fas fa-cart-arrow-down" style="color: aliceblue;" id="totalitem"> {{ request.session.totalNumberOfProduct }}</i></a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" id="search-form" method="GET" action="{% url 'search:search' %}">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="search"
          id="field"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >
          Search
        </button>
      </form>
    </div>
  </div> 
</nav>

<!-- <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
        Dropdown
      </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      
    
