{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'css/fontawesome/all.min.css' %}" />
    <!--  -->

    {% block title %} {% endblock title %}
    <!--  -->
    {% block javascript1 %} {% endblock javascript1 %}
    <!--  -->
    {% block stylesheet %} {% endblock stylesheet %}
  </head>
  <body>
    {% include "snippets/navbar.html" %}
    <!--  -->
    {% block content %}
    <!--  -->
    {% endblock content %}

    <!-- =================================javascript files======================================= -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- ===============================csrf_token_setup============================================== -->
    <!-- <script src="{% static 'js/global.js' %}"></script> -->
    <script src="{% static 'js/stripe.js' %}"></script>
    <script src="{% static 'js/global.js' %}"></script>

    <!-- ================================end of javascript============================================ -->
    <script>
      $(document).ready(function () {
        var searchform = $("#search-form");
        let inputfield = searchform.find("[name='search']");
        let actionendpoint = searchform.attr("action");
        let field = $("#field").attr("name");
        console.log(actionendpoint);
        inputfield.keyup(function (event) {
          let tosearch = inputfield.val();
          const searchperformfunction = function () {
            let tosearch = inputfield.val();
            window.location.href = `${actionendpoint}?${field}=${tosearch}`;
          };
          clearTimeout(searchoutTimer);
          const searchoutTimer = setTimeout(searchperformfunction, 5000);
        });
      });
    </script>

    {% block javascript %}
    <!--  -->
    {% endblock javascript %}
  </body>
</html>
