{% extends 'master.html' %} {% load static %}
<!--  -->
{% block javascript %} {% endblock javascript %}
<!--  -->

{% block stylesheet %}
<link
  href="{% static 'css/user/regi.css' %}"
  rel="stylesheet"
  type="text/css"
  media="all"
/>

{% endblock stylesheet %}
<!--  -->
{% block content %}
<div class="container">
  <div class="row boxs">
    <div class="col-5 mx-auto custom">
      <h3 class="text-center mt-3 text-form">SIGNUP FORM</h3>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="my-3">
          {{form.first_name}}
        </div>
        <div class="my-3">
          {{form.last_name}}
        </div>
        <div class="my-3">
          {{form.email}} {{form.email.errors}}
        </div>
        <div class="my-3">
          {{form.password}} {{form.password.errors}}
        </div>
        <div class="my-3">
          {{form.confirm_Password}} {{form.confirm_Password.errors}}
        </div>
        <div class="row">
          <div class="col-10 mx-auto">
            <button class="btn btn-info btn-lg btn-block text-form">
              Sign up
            </button>
          </div>
        </div>
      </form>
      <div class="row my-3">
        <div class="col-12">
          <h6 class="text-center">
            Don't have an Account?
            <span>
              <a href="{% url 'user:login_url' %}"> Login Now!</a>
            </span>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
<br />
{{form.email}}
<!--  -->
{{ form.password.errors }}
<!--  -->
{{form.confirm_Password.errors}}

<p></p>
{{form.password.errors}}
